# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
codecov
coverage
flake8
pytest
sphinx
pytest-timeout
fortranformat # for reading in AME database only

# These are dependencies of various sphinx extensions for documentation.
matplotlib
numpydoc
sphinx-copybutton
sphinx_rtd_theme >= 0.5.0
nbsphinx
nbsphinx-link
nbconvert
nbstripout
sphinx-gallery
jupyter_sphinx
nbval # test notebook execution
doctr # for publishing docs to Github-pages

# For publishing to PyPI:
twine
wheel

